body {
  height: 200rem;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

i {
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #222831;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 10;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 5rem 0 5rem;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

nav a:hover {
  color: #222831;
  background-color: white;
  border-radius: 5rem;
}

.section-1 {
  background-color: #222831;
  height: 50rem;
  top: 0;
}

.section-1-1 {
  background-color: #393e46;
  margin-left: 100px;
  margin-right: 100px;
  height: 45rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px 0 #323232, 0 3px 10px 0 #323232;
  position: relative;
  top: 150px;
}

.section-1-1 img {
  width: 33rem;
  margin-top: 45px;
  margin-left: 50px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 #323232, 0 3px 10px 0 #323232;
}

.text-section {
  /* background-color: red; */
  height: 30rem;
  width: 55%;
  position: relative;
  bottom: 550px;
  left: 670px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.text-section h4 {
  margin-bottom: 10px;
}

.text-section h1 {
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 1.3rem;
}

.icons {
  margin-left: 10px;
}

.icons i {
  padding: 5px 5px 5px 5px;
  margin: 0 10px 0 10px;
  /* background-color: red; */
}

.icons i:hover {
  background-color: white;
  color: #222831;
  border-radius: 0.5rem;
}

/* section-2 */
.section-2 {
  height: 50rem;
  /* background-color: red; */
  margin-top: 150px;
}

.content {
  margin: auto;
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  /* text-align: center; */
}

.content h1 {
  color: #222831;
  margin: auto;
  font-size: 3rem;
  margin-top: 5rem;
}

.content p {
  font-size: 1.5rem;
  color: #393e46;
}

.content li {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #393e46;
}

.section-3 {
  /* height: 200rem; */
  /* background-color: green; */
  margin-bottom: 8rem;
}

.section-3-content {
  margin: auto;
  width: 90%;
  height: 90%;
  /* background-color: blue; */
  /* text-align: center; */
}

.section-3-content h1 {
  color: white;
  margin: auto;
  font-size: 3rem;
  /* margin-top: 5rem; */
}

.section-3-content h2 {
  text-align: center;
  color: #222831;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 5rem;
}

.cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.cards a {
  margin: 0 auto;
  text-decoration: none;
}

.card {
  margin: 0 auto;
}

.section-3 p {
  text-align: center;
  margin-top: 15px;
  font-size: 1.3rem;
  /* font-weight: bold; */
}

.card-title {
  text-align: center;
  color: #222831;
  /* margin-top: 25px; */
}

.card:hover {
  box-shadow: 0 4px 8px 0 #323232, 0 6px 20px 0 #323232;
}

.portfolio-head {
  background-color: #222831;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 #323232, 0 3px 10px 0 #323232;
}

.section-4 {
  height: 23.5rem;
  background-color: #222831;
}

.Footer-heading {
  /* background-color: red; */
  text-align: center;
  padding-top: 50px;
}

.Footer-heading h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}

.footer-icons {
  padding-top: 50px;
  /* background: red; */
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.footer-icons span {
  margin: 0 auto;
  /* color: white; */
  /* padding: 0.5rem; */
}

.footer-icons i {
  padding: 0.5rem;
}

.footer-icons i:hover {
  background: white;
  color: #222831;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.section-4 p {
  text-align: center;
  color: white;
  position: relative;
  top: 40px;
}

.cer-head {
  margin: 5rem 94.95px 5rem 94.95px;
  color: white;
  background-color: #222831;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 #323232, 0 3px 10px 0 #323232;
}

.certificate {
  margin: 0 auto 5rem auto;
  width: 50%;
}

.carousel-item {
  border: 1px solid #333;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(17, 17, 17, 0.1) !important;
  border-radius: 50px;
}

/* .carousel-inner {
  padding: 0 8rem;
} */

/* media query----------------------------------------------------------------------------------------------------------- */
@media (max-width: 1525px) {
  .text-section {
    width: 40%;
    position: relative;
    bottom: 550px;
    left: 600px;
  }

  .text-section h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .text-section h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 1400px) {
  nav a {
    margin: 0 3rem 0 3rem;
  }

  .section-1-1 img {
    width: 30rem;
  }

  .text-section {
    position: relative;
    bottom: 550px;
    left: 550px;
  }

  .Footer-heading h1 {
    font-size: 2.5rem;
  }
  .section-3 {
    /* height: 160rem; */
  }
}

@media (max-width: 1100px) {
  nav a {
    margin: 0 2rem 0 2rem;
  }

  .section-1-1 img {
    width: 25rem;
    margin-top: 100px;
  }

  .text-section {
    position: relative;
    bottom: 490px;
    left: 470px;
  }

  .section-3 {
    margin-top: 50px;
    /* height: 160rem; */
  }

  .card {
    margin: 10px;
  }

  .Footer-heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) {
  nav a {
    margin: 0 1rem 0 1rem;
  }

  .section-1-1 {
    height: 55rem;
    position: relative;
    top: 100px;
  }

  .section-1-1 img {
    margin-left: 13rem;
    width: 50%;
    margin-top: 20px;
  }

  .text-section {
    width: 90%;
    position: relative;
    top: 20px;
    left: 40px;
  }

  .icons i {
    align-self: center;
    margin: 0 1.5rem 0 1.5rem;
  }

  .section-2 {
    margin-top: 200px;
  }

  .section-3 {
    margin-top: 100px;
    /* height: 150rem; */
    /* background-color: red; */
  }

  .content p {
    font-size: 1.5rem;
  }

  .content li {
    font-size: 1.5rem;
  }

  .card {
    margin: 10px;
  }

  .Footer-heading h1 {
    font-size: 2rem;
  }
}

@media (max-width: 760px) {
  .section-2 h1 {
    font-size: 3rem;
  }

  nav a {
    font-size: 1rem;
    margin: 0 1rem 0 1rem;
  }

  .section-1-1 {
    position: relative;
    top: 100px;
  }

  .icons {
    margin: 0;
  }

  .icons i {
    align-self: center;
    margin: 0 0.7rem 0 0.7rem;
  }

  .section-1-1 img {
    margin-left: 4rem;
    width: 70%;
    margin-top: 20px;
  }

  .section-1-1 {
    height: 52rem;
  }

  .section-3 {
    margin-top: 150px;
    /* height: 125rem; */
  }

  .section-3 h1 {
    font-size: 3rem;
  }

  .section-3-content h2 {
    font-size: 2rem;
    margin-top: 50px;
  }

  .content p {
    font-size: 1.5rem;
  }

  .content li {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card {
    margin: 10px;
  }

  .Footer-heading h1 {
    font-size: 2rem;
  }

  .cer-head {
    font-size: 2rem;
    margin: 2.5rem 94.95px 2.5rem 94.95px;
    color: white;
    background-color: #222831;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 0 #323232, 0 3px 10px 0 #323232;
  }

  .certificate {
    border: 1px solid #333;
    margin: 0 auto 2.5rem auto;
    width: 75%;
  }
}
